JFLAP7.1.jar
Theory_of_Computation
diagrams/*
homeworks/homework7/*
!homeworks/homework7/250408_CSCI387_HW07.tex
!homeworks/homework7/250408_CSCI387_HW07.pdf
homeworks/homework8/*
!homeworks/homework8/250422_CSCI387_HW08.tex
!homeworks/homework8/250422_CSCI387_HW08.pdf
